<h1>{{mensaje}}</h1>

<!--<h1>Hola Mundo</h1>

<h2>Uno</h2>
<app-contenedor-formulario></app-contenedor-formulario>

<h2>Dos</h2>
<app-contenedor-formulario></app-contenedor-formulario>

<h2>Tres</h2>
<app-contenedor-formulario></app-contenedor-formulario>

<hr>

<app-header></app-header>
<app-body></app-body>
<app-footer></app-footer>-->

<br>

<img [src]="src" [alt]="alt">

<br>

<button (click)="efecto()">Haz click</button>

<br>
<!-- NgModel -->
<input type="text" [(ngModel)]="valor">
<h4>{{valor}}</h4>

<br>
<ul *ngIf="super">
  <li>Pan</li>
  <li>arroz</li>
  <li>CEREAL</li>
  <li>leche</li>
</ul>

<br>

<ul>
  <li *ngFor="let elemento of listaDelSuper">{{elemento}}</li>
</ul>

<br>

<p [ngClass]="{'class1' : condicion1, 'class2' : condicion2}">Hola de nuevo!!</p>

